torch>=2.1.0
torchvision>=0.16.0
torchaudio>=2.1.0
jsonargparse[signatures]>=4.27.7
pytorch-lightning==2.5.2
numpy==1.26.4
scipy==1.13.0
matplotlib==3.8.4
pandas==2.2.1
wandb
soundfile
rich>=10.2.2
tensorboard
scikit-learn>=1.7.0
seaborn>=0.11.0
joblib>=1.2.0